<div class="parent">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Closures</mat-card-title>
      <mat-card-subtitle>Concepts of javascript</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/7-JavaScript-Concepts-That-Every-Developer-Must-Know.jpg"
    />
    <div class="content">
      <mat-card-content>
        <p>
          A closure is the combination of a function bundled together (enclosed)
          with references to its surrounding state (the lexical environment). In
          other words, a closure gives a function access to its outer scope. In
          JavaScript, closures are created every time a function is created, at
          function creation time. JavaScript variables can belong to the local or global scope.
          Global variables can be made local (private) with closures.
        </p>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Closures">Read in Detail</a>
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>The event loop</mat-card-title>
      <mat-card-subtitle>Concepts of javascript</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/7-JavaScript-Concepts-That-Every-Developer-Must-Know.jpg"
      alt="Photo of a Shiba Inu"
    />
    <div class="content">
      <mat-card-content>
        <p>
          JavaScript has a runtime model based on an event loop, which is
          responsible for executing the code, collecting and processing events,
          and executing queued sub-tasks. This model is quite different from
          models in other languages like C and Java. At some point during the
          event loop, the runtime starts handling the messages on the queue,
          starting with the oldest one.
        </p>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Event_loop">Read in Detail</a>
      </mat-card-content>
     
    </div>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Debouncing</mat-card-title>
      <mat-card-subtitle>Concepts of javascript</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/7-JavaScript-Concepts-That-Every-Developer-Must-Know.jpg"
    />
    <div class="content">
      <mat-card-content>
        <p>
          Debouncing is a technique in programming that helps improve the
          performance of web applications by controlling the frequency at which
          time-consuming tasks are triggered. If a task is triggered too
          often—like when a user types quickly or rapidly clicks a button—it can
          lead to performance issues. Debouncing provides a solution by limiting
          how frequently a function can be executed.
        </p>
        <a target="_blank" href="https://www.geeksforgeeks.org/debouncing-in-javascript/">Read in Detail</a>
      </mat-card-content>
     
    </div>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Garbage Collection</mat-card-title>
      <mat-card-subtitle>Concepts of javascript</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/7-JavaScript-Concepts-That-Every-Developer-Must-Know.jpg"
    />
    <div class="content">
      <mat-card-content>
        <p>
          The majority of memory management issues occur when we try to release
          the allocated memory. The main concern that arises is the
          determination of unused memory resources. In the case of low-level
          languages where the developer has to manually decide when the memory
          is no longer needed, high-level languages such as JavaScript use an
          automated form of memory management known as Garbage Collection(GC).
        </p>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Memory_management">Read in Detail</a>
      </mat-card-content>
    
    </div>
  </mat-card>
</div>
